<html>
<head>
Site {{ site_name }} created
</head>
<body>
<h2>Site {{ site_name }} working!<br></h2>
<p> logs here: {{ path_logs }} </p>
<p> www files here: {{ path_www }} </p>
<p> conf file here: {{ path_nginx_available }} </p>
<p> certs files here: {{ path_nginx_crt }} </p>
</body>
</html>
